:root{
    /* CSS HEX */
    --up-maroon: #800e13ff;
    --upsdell-red: #ad2831ff;
    --russian-violet: #30204eff;
    --plump-purple: #5a41b1ff;
    --xiketic: #0c0c1dff;
    }

img{
    border: none;
    max-height: 800px;
}

div.extended{
    min-height: 80vh;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(5,20%);
    background-color: var(--russian-violet);
    padding: 1rem;
    margin: 2rem auto;
    gap: 0rem;
    justify-content: center;
    border: 0 var(--plump-purple) solid;
    border-width: 5px;
}

div.press{
    grid-column: span 2;
    grid-row: span 5;
}

section.ingredients{
    grid-column: span 2;
    grid-row: span 2;
}

section.instructions{
    grid-column: 3 / 6;
    grid-row: span 3;
}