@import url('https://fonts.googleapis.com/css2?family=Arima:wght@300;400;500&display=swap');

*{
    box-sizing: border-box;
}

:root{
/* CSS HEX */
--up-maroon: #800e13ff;
--upsdell-red: #ad2831ff;
--russian-violet: #30204eff;
--plump-purple: #5a41b1ff;
--xiketic: #0c0c1dff;
}

.flagship{
    background-color: var(--russian-violet);
    text-align: center;
    padding: 1rem;
    color: white;
}

header{
    box-shadow: 0px 10px 10px rgba(89, 65, 177, 0.8);
    border-bottom: var(--plump-purple) 5px solid;
}

footer{
    box-shadow: 0px -10px 10px rgba(89, 65, 177, 0.8);
    border-top: var(--plump-purple) 5px solid;
    font-size: 1.2rem;
}

header *{
    margin: 0
}

html{
    background-color: var(--xiketic);
    color: white;
    font-family: 'Arima', cursive;
}

body{
    min-height: 100vh;
}

div.roulette{
    display: grid;
    grid-template-columns: repeat(3,30%);
    background-color: var(--russian-violet);
    padding: 1rem;
    margin: 2rem 0;
    gap: 3rem;
    justify-content: center;
    border: 0 var(--plump-purple) solid;
    border-width: 5px 0;
}

h2{
    text-align: center;
}

h3{
    margin: 0
}

div.drink > img{
    height: 50vh;
    max-height: 250px;
    align-self: center;
    border: var(--upsdell-red) 10px inset;
}

div.drink{
    background-color: var(--up-maroon);
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    border: 2px var(--xiketic) solid;
    box-shadow: -15px 10px 10px rgba(0, 0, 0, 0.8);
    transition: 0.5s;
}

div.drink:hover{
    transform: scale(1.01);
    background-color: rgb(107, 15, 21);
}

a{
    color: white;
}

img{
    max-width: 100%;
}

/* history div area */

section.memory{
    width: 95vw;
    max-width: 1000px;
    min-height: 300px;
    background-color: var(--xiketic);
    margin: 3rem auto;
    border: purple 5px solid;
    box-shadow: 0 0 30px purple inset;
}

div.history{
    display: grid;
    grid-template-columns: repeat(3,31%);
    justify-content: center;
}

a.pastDrink{
    text-align: center;
    background-color: var(--up-maroon);
    border: var(--xiketic) 3px solid;
    min-height: 75px;
    transition: 1.5s;
    padding: 1rem 2rem;
    cursor: pointer;
}

p.deleteRef{
    display: block;
    margin: 1em auto !important;
    border: 0px white solid;
    border-width: 1px 0;
    max-width: 75px;
 }
 
p.deleteRef:hover{
    background-color: darkred;
    border-width: 1px;
 }

.rotate3d{
    transform: rotate3d(0,1,0,360deg);
}

a.pastDrink:hover{
    background-color: purple;
}

.showNormal{
    grid-template-columns: 1fr !important;
    padding: 1rem 3rem;
    text-align: center;
}

.moses{
    margin: 0.5rem
}

button.reroll{
    display: block;
    background-color: #0c0c1dff;
    color: white;
    padding: 0.5rem;
    border: 5px purple solid;
    border-radius: 20px;
    width: 20vw;
    min-width: 200px;
    font-size: 1.5rem;
    margin: 2rem auto;
    text-align: center;
    text-decoration: none;
}

button.reroll:hover{
    background-color: var(--plump-purple);
}

div.wrapClearButtons{
    margin: auto;
    text-align: center;
    text-decoration: none;
}

div.wrapClearButtons > *{
    display: inline-block;
    background-color: var(--plump-purple);
    BORDER: var(--russian-violet) 2px solid;
    color: white;
    padding: 0.6rem;
}

button.clearAll:hover{
    transform: scale(1.02);
}